.tx_teufelssocialstream {
  &.default-list {
    img {
      max-width: 100%;
    }
    .col {
      padding: 10px;
    }
    .feed {
      padding: 20px;
      overflow: hidden;
      .head {
        margin-bottom: 10px;
        span.icon {
          width: 20%;
          display: inline-block;
          max-width: 50px;
          margin-right: 10px;
        }
      }
    }
    .facebook {
      .feed {
        background: #dfe3ee;
      }
    }
    .pictureAndMessage {
      .picture {
        margin-bottom: 10px;
      }
    }
  }
  #grid {
    margin-left: -10px;
    margin-right: -10px;
  }
  @media (max-width: 767px) {
    #grid[data-columns]::before {
      content: '1 .column.size-1of1';
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #grid[data-columns]::before {
      content: '2 .column.size-1of2';
    }
  }
  @media  (min-width: 992px) {
    #grid[data-columns]::before {
      content: '3 .column.size-1of3';
    }
  }
  .column { float: left; }
  .size-1of1 { width: 100%; }
  .size-1of2 { width: 50%; }
  .size-1of3 { width: 33.333%; }
}