
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

<div  class="tx_teufelssocialstream default-list">
	<div id="grid" data-columns>
		<f:for each="{aStreamFeeds}" as="streamFeed">
			<div class="col {streamFeed.channel} {streamFeed.messagetype}">
				<div class="feed">
					<div class="head">
						<span class="icon">
							<f:switch expression="{streamFeed.channel}">
							  <f:case value="facebook">
								  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									   data-echo="typo3conf/ext/teufels_social_stream/Resources/Public/Assets/Img/facebook.svg"
									   onerror="this.onerror=null; this.src='image.png'"
									   class="b-lazy opacity_0"/>
							  </f:case>
							  <f:case default="TRUE"></f:case>
							</f:switch>
						</span>
						<span class="date">
							<f:format.date format="d.m.Y H:i">{streamFeed.timestamp}</f:format.date>
						</span>
					</div>
					<f:if condition="{streamFeed.full_picture} != ''">
						<div class="picture">
							<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								 data-echo="{streamFeed.full_picture}"
								 onerror="this.onerror=null; this.src='image.png'"
								 class="b-lazy opacity_0"/>
						</div>
					</f:if>
					<f:if condition="{streamFeed.message} != ''">
						<div class="message">
							<p>
								<f:format.raw>
									{streamFeed.message}
								</f:format.raw>
							</p>
						</div>
					</f:if>
					<div class="more">
						<a href="{streamFeed.link}" class="btn btn-detault">
							<f:translate key="tx_teufelssocialstream_domain_model_socialstream.moreText" />
						</a>
					</div>
				</div>
			</div>
		</f:for>
	</div>
</div>

</f:section>